@media screen and (max-width: 980px) {
  .blogs-main-new {
    grid-template-columns: 1fr;
    grid-template-rows: 3fr;
  }
  
  .blogs-news-img-container {
    grid-row: 2;
  }

  .blogs-news-info-container {
    grid-column: 1;
    grid-row: 3;
  }
  .blogs-news-img-container img {
    width: 100%;
  }

  .blogs-posts-container .post-container {
    max-width: 45%;
  }

  .profile-main-container .profile-container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 2fr;
  }

  .profile-main-container img {
    width: 100%;
  }

  .projects-main-container {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 2fr;
  }

  .contact-main-container {
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "contacto escribe";
    grid-gap: 20px;
  }

 
}

@media screen and (max-width: 600px) {

  .blogs-posts-container .post-container {
    max-width: 95%;
  }

  .projects-main-container {
    grid-template-columns: 1fr;
  }

  .contact-main-container {
    padding: 40px 20px;
    grid-template-columns: 1fr;
    grid-template-areas: "contacto"
                          "escribe";
  }

  .contact-main-container p {
    padding-right: 20px;
  }

}